.footer {
  margin: 3 rem;
  padding: 3 rem;
  color: white;
  background: black;
}

.footer-text {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.name {
  font-size: 0.8rem;
  margin-left: 2rem;
}
